body{
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
}

h1, h2, h3{
  font-weight: 100;
}

.category-header{
  /* border: 1px solid red; */
  margin-bottom: 2rem;
  height: 150px;
  align-content: center;
  text-align: center;
}

nav{
  display: grid;
  align-items: center;
  border-bottom: 1px solid var(--accent-color);
  gap: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: fixed;
  left:0;
  right:0;
  top:0;
  z-index: 5;
  background-color: var(--background);
  height: 6rem;
  font-size: 0.8rem;
  /* border: 1px solid red; */
}

.link{
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: 0.2s;
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.link:hover{
    border-bottom: 1px solid black;
}

.link-container{
  display: flex;
  gap: 1rem;
  justify-content: right;
  /* border: 1px solid red; */
}
.link-container.right{
  justify-content: right;
  display: none;
}
.link-container.mobile{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: large;
  /* border: 1px solid red; */
  align-items: center;
}
.link-container.desktop{
  display: none;
}

.social{
  cursor: pointer;
}

.hamburger{
  display: flex;
  flex-direction: column;
  position: fixed;
  left:0;
  right:0;
  z-index: 3;
}
.hamburger > .link{
  border-bottom: 1px solid var(--accent-color);
  padding: 0.8rem;
  background-color: white;
}
.hamburger.hide{
  display: none;
}

footer{
  height: 100px;
  border-top: 1px solid var(--accent-color);
  padding: 1rem;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-items: center;
}

footer > div{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  nav{
    gap: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 6rem;
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
  }
  .link-container.mobile{
    display: none;
  }
  .link-container.desktop{
    display: flex;
  }
  .link-container.right{
    display: flex;
  }
  .link-container{
    justify-content: left;
  }
  .hamburger{
    display: none;
  }
}