.d-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-wrap: anywhere;
}

img{
    height: 80vw;
    margin-left: 50%;
    translate: -50%;
}
.d-images{
    /* display: contents; */
    justify-content: center;
    margin: auto;
    height: inherit;
    position: relative;
    width: 100%;
    /* background-color: var(--accent-highlight); */
}

.d-info{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    padding: 1rem;
    /* justify-content: center; */
}

.d-title{
    font-size: 2rem;
}
.d-year{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-style: italic;
    color: var(--accent-color);
}

.d-button{
    width: 30px;
    height: 30px; 
    border: none;
    border-radius: 100px;
    z-index: 1;
    color: white;
    background-color: var(--accent-highlight);
    text-align: center;
    padding: 0.5rem;
    transition: 0.2s;
    /* opacity: 50%; */
    position: absolute;
    /* top:50%; */
    bottom: 50%;
    /* border: 1px solid red; */
}
.d-button:hover{
    color: white;
    background-color: var(--accent-color);
    scale: 1.1;
}
.d-button.left{
    left:0;
}
.d-button.right{
    right:0;
    transform: scaleX(-1);
}
.d-dots{
    /* position: absolute; */
    z-index: 1;
    /* border: 1px solid red; */
    width: 100%;
    /* bottom: 1rem; */
    margin-top: 1rem;
    text-align: center;
}
.d-dot{
    color: var(--accent-color);
}
.d-dot.selected{
    color: var(--accent-highlight);
}

.d-category{
    color: var(--accent-highlight);
    width: fit-content;
    cursor: pointer;
    transition: 0.2s;
    border-top: 1px solid rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.d-category:hover{
    cursor: pointer;
    border-bottom: 1px solid var(--accent-highlight);
}

.d-subtitle{
    color: var(--accent-color);
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.listing-link{
    display: flex;
    gap: 0.3rem;
    color: var(--accent-color);
    width: fit-content;
    margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
    .d-container{
        display: grid;
        gap: 2rem;
        grid-template-columns: 1.5fr 1fr;
        height: 40vw;
        overflow-wrap: anywhere;
        padding: 1rem;
    }
    img{
        height: inherit;
    }
}