.listing{
    text-align: center;
    /* border: 1px solid red; */
    transition: 0.2s;
    animation: fadeInUp 0.5s ease-out forwards;
    max-width: 400px;
}

.listing:hover{
    scale: 1.03;
}

.listing-image{
    width: 90%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 1rem;
}

.container{
    /* justify-items: center; */
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: inherit;
    margin: auto;
    justify-items: center;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* Starts 20px lower */
  }
  to {
    opacity: 1;
    transform: translateY(0);    /* Moves to final position */
  }
}