.listing{
    text-align: center;
    /* border: 1px solid red; */
    transition: 0.2s;
    animation: fadeInUp 0.5s ease-out forwards;
    max-width: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    justify-content: center;
}

.listing-shop-info{
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
  gap: 1rem;
  width: 90%;
  margin: auto;
  height: fit-content;
  align-items: center;
  /* height: 30px; */
  /* bottom: 0.5rem; */
}
.listing-shop-info > .left{
  text-align: left;
  /* font-size: 1.3rem; */
  font-weight: 550;
}
.listing-shop-info > .right{
  text-align: right;
  color: var(--accent-color);
}

.listing:hover{
    scale: 1.03;
}

.listing-image{
    width: 90%;
    /* height: 100%; */
    object-fit: contain;
    /* border: 1px solid blue; */
}

.container{
    /* justify-items: center; */
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: inherit;
    margin: auto;
    justify-items: center;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* Starts 20px lower */
  }
  to {
    opacity: 1;
    transform: translateY(0);    /* Moves to final position */
  }
}