.home{
    display: grid;
    justify-items: center;
    gap: 3rem;
    height: 600px;
    margin-bottom: 370px;
}

.home-info{
    text-align: center;
    max-width: 80%;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    background-color: white;
    border-radius: 20px;
}
.home-info > p{
    color: var(--accent-color);
}

.featured{
    position: relative;
    height: 450px;
    align-content: center;
}
.featured-container{
    height: 550px;
    align-items: center;
}

.d-button{
    position: absolute;
    width: 30px;
    height: 30px; 
    top: 50%;
    border: none;
    border-radius: 100px;
    z-index: 1;
    color: white;
    background-color: var(--accent-highlight);
    text-align: center;
    padding: 0.5rem;
    transition: 0.2s;
    opacity: 70%;
}
.d-button:hover{
    background-color: var(--accent-color);
    scale: 1.05;
}
.d-button.left{
    left: 0;
}
.d-button.right{
    right:0;
    transform: scaleX(-1);
}
.d-dots{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    /* border: 1px solid red; */
    bottom: -3rem;
    text-align: center;
}
.d-dot{
    color: var(--accent-highlight);
}
.d-dot.selected{
    color: var(--accent-color);
}

@media screen and (min-width: 768px) {
    .home{
        grid-template-columns: 1fr 1fr;
        height: 600px;
        margin-bottom: 0;
        align-items: center;
    }
    .home-info{
        text-align: left;
        width: fit-content;
        max-width: 60%;
        padding: 4rem;
    }
    .featured{
        position: relative;
        height: 450px;
        align-content: center;
    }
    .featured-container{
        height: 550px;
        align-items: center;
    }
}