.home{
    justify-items: center;
    gap: 3rem;
    height: 600px;
    margin-bottom: 350px;
}

.home-info{
    text-align: center;
    max-width: 80%;
    /* box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5); */
    padding: 2rem;
    background-color: white;
    border-radius: 20px;
}
.home-info > p{
    color: var(--accent-color);
}

.featured{
    justify-content: center;
    margin: auto;
    height: inherit;
    position: relative;
    width: 100%;
    /* border: 1px solid red; */
}
.featured > div{
    width: 80vw;
    height: 80vw;
    object-fit: contain;
    margin: auto;
}
.featured-container{
    /* height: 400px; */
    width: 100%;
    align-items: center;
    /* border: 1px solid blue; */
}

.cta{
    padding: 1rem;
    height: 50px;
    width: 100px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
}
.cta:hover{
    color: black;
    background-color: var(--accent-highlight);
}

@media screen and (min-width: 768px) {
    .home{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 600px;
        margin-bottom: 0;
        align-items: center;
    }
    .home-info{
        text-align: left;
        width: fit-content;
        max-width: 60%;
        padding: 4rem;
    }
    .featured{
        position: relative;
        height: 450px;
        align-content: center;
    }
    .featured-container{
        height: 550px;
        align-items: center;
    }
}